
/* RESPONSIVE */

@media(max-width:900px){

    .hero-content{
        flex-direction:column-reverse;
        text-align:center;
        gap:40px;
    }

    .buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .hero-text h1{
        font-size:3rem;
    }

    .hero-image img{
        width:280px;
    }

}

@media(max-width:768px){

    /* HEADER */

    .navbar{
        width:95%;
        flex-direction:column;
        align-items:center;
        gap:15px;
        padding:15px 0;
    }

    .logo-container{
        font-size:1.1rem;
    }

    .logo{
        width:35px;
        height:35px;
    }

    /* MENU */

    .navbar ul{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:10px 20px;
        padding:0;
        margin:0;
    }

    .navbar li{
        list-style:none;
    }

    .navbar a{
        font-size:0.95rem;
        font-weight:600;
    }

    /* HERO */

    .hero{
        padding:220px 5% 60px;
    }

    .hero-text h1{
        font-size:2.5rem;
    }

    .hero-text p{
        font-size:1rem;
    }

    .badge{
        font-size:.9rem;
    }

    /* TITULOS */

    section h2{
        font-size:2rem;
        margin-bottom:30px;
    }

    /* TARJETAS */

    .cards{
        grid-template-columns:1fr;
    }

    .card{
        padding:25px;
    }

    /* CAPTURAS */

    .carousel{
        gap:15px;
    }

    .carousel img{
        width:220px;
    }

    /* TECNOLOGIAS */

    .tech-grid{
        grid-template-columns:1fr;
    }

    /* INSTALACION */

    .install-container{
        grid-template-columns:1fr;
    }

    /* BOTONES */

    .btn,
    .btn-secondary,
    .download-btn{

        width:100%;

        max-width:300px;

        text-align:center;
    }

    .buttons{
        flex-direction:column;
        align-items:center;
    }

}

@media(max-width:480px){

    .hero{
        padding-top:240px;
    }

    .hero-text h1{
        font-size:2rem;
    }

    section h2{
        font-size:1.7rem;
    }

    .carousel img{
        width:180px;
    }

}


